/*Styling for both pages*/

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
  	font-family: 'Titillium Web', sans-serif;
 }

body{
	background-image: url('./img/bg.png');
	background-size: cover;
	background-attachment: fixed;
}

.count{
	color: #fff;
}

.purchase {
	font-size: 4rem;
	padding: 0.75em 0;
}

.products {
	border: 1px solid #333;
	background-color: #f1f1f1;
	border-radius: 0.3rem;
	padding: 1rem;
	margin-bottom: 1.5rem;

}

#photo {
	width: 100%;
}

.btn-info {
	margin-top: 0.5rem;
}

.review{
	border-radius: 0.3rem;
}

table {
	overflow: scroll;
	
}

td a:hover{
	text-decoration: none;
}

.table {
	background-color: #f1f1f1;
}

.btn-danger {
	text-align: center;
	padding: 0.1rem;
	border-radius: 0.2rem;
}

.btn-success {
	font-size: 1.5rem;
	border-radius: 0.3rem;
	padding: 0.3rem 5rem;
}

.change {
	font-size: 1.5rem;
	border-radius: 0.3rem;
	padding: 0.3rem 5rem;
}

label{
	color: #fff;
	font-size: 1.5rem;
}

.confirm{
	margin: 2rem 0 5rem 0;
	font-size: 2rem;
}

.confirm a{
	text-decoration: none;
}

/*Cart form exclusive page*/
#cart .btn-info{
	font-size: 1.2rem;
}

/*Checkout Form Exclusive Styling*/

#checkoutform input{
	width: 18rem;
	font-size: 1.5rem;
	margin-top: 0.5em;
}

#tallinput{
	height: 5rem;
}



/*##Media Queries##*/

@media screen and (min-width: 768px){

/*Both pages*/

table{
	font-size: 1.5rem;
	}

/*Cart*/


/*checkout*/

label{
	color: #fff;
	font-size: 1.7rem;
}


#checkoutform input{
	width: 25rem;
	font-size: 1.7rem;
}

.confirm a{
	font-size: 2rem;
}


} 




